html {
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

body
{
    margin: 0;
}

.header
{
    height: 60px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 200px;
}

.header-content
{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    background-color:#EF6D58;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}

.header-tabs
{
    display: flex;
    gap: 40px;
}

.header-a 
{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    font-size: 16px;
}

.selected-a
{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    font-size: 15px;
    text-decoration: underline;
}

.project-button
{
    background-color:#EF6D58;
    height: 60px;
    width: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.project-button:hover
{
    background-color:#e78e80;
}

.main
{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
}